{% extends "basefront.html.twig" %}
{% block body %}
{%set valeur = valeur|default %}


    <table class="table table-striped">

        <caption></caption>

        <thead>

            <tr>
                <th class="text-left align-top" scope="col">
                    Playlist<br />
                    <a href="{{ path('playlists.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('playlists.sort', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('playlists.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur and not table|default %}{{ valeur }}{% endif %}">

                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>

                <th class="text-left align-top" scope="col">
                    Catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('playlists.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>

                <th class="text-center align-top" scope="col">
                    Nombre de Formations
                    <a href="{{ path('playlists.sort', {champ:'formation_count', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('playlists.sort', {champ:'formation_count', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                </th>

                

                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>

            </tr>

        </thead>
        <tbody>

        
            <!-- boucle sur les playlists -->

        {% for playlist in playlists %} {# parcourir les indices du tableau #}

        <tr class="align-middle">
                        <td>
                            <h5 class="text-info">
                                {{ playlist.name }} {# Accède au contenu du tableau #}
                            </h5>
                        </td>                 
                        <td class="text-left">
                            {% set categories = playlist.categoriesplaylist %}
                    
                                {% for c in categories %}
                                    &nbsp;{{ c }}                                  
                                {% endfor %}
                        </td>

                        <td class="text-center">{{ formationCount[playlist.id] }}</td>

                        <td class="text-center">
                            <a href="{{ path('playlists.showone', {id:playlist.id}) }}" class="btn btn-secondary">Voir détail</a>
                        </td>

                        <td>


                    </tr>
                {% endfor %}	

            
        </tbody>
    </table>
{% endblock %}
